<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <!--拒绝匿名用户-->
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="RolesAdmin.aspx">
    <system.web>
      <authorization>
        <!--只允许admin角色访问：注意大小写-->
        <allow roles ="Admin"/>
        <!--拒绝所有用户-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
